extends layout

block content
    header.bg-primary.text-white
        .container.text-center
            h1 Schedule Creator (version 2.0)
    .panel.panel-default
        ul 
            strong Tools
            li
                a(href='https://pugjs.org/api/reference.html', target='_blank') Pug Documentation
            li
                a(href='https://html2jade.org', target='_blank') HTML to Jade.Pug
            li
                a(href='https://expressjs.com/en/4x/api.html', target='_blank') Express API
        ul 
            strong Tutorils
            li
                a(href='https://www.sitepoint.com/jade-tutorial-for-beginners/', target='_blank') A Jade Tutorial for Beginners
            li
                a(href='https://www.w3schools.com/css/', target='_blank') CSS Tutorial 
            li
                a(href='https://www.w3schools.com/bootstrap/bootstrap_list_groups.asp', target='_blank') Bootstrap Tutorial 
            li
                a(href='https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Tutorial_local_library_website', target='_blank') Express Tutorial       