doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  
    body
    img(src='images/ayj.jpg')
    ul
        li  
            a(href='index') Home
        li
            a(href='subject') Subjects
        li
            a(href='scheduleType') Schedule Types
        li
            a(href='about') About
    p 
    block content   
    p Copyright (c) Paulinka Chametka